%section#chits
	- @chits.each do |chit|
		%div.chitblock.chit{ id: "chit_#{chit.id}" }
			%div.date
				%div.created_at_date
					= chit.created_at.strftime('%F')
				%div.created_at_time
					= chit.created_at.strftime('%T')
			%div.content
				= chit.content
			%div.username
				= chit.user.username
